<div class="d-flex flex-wrap mt-4">
  <% favorites.each do |fav| %>
    <div class="card shadow-lg rounded w-25" style="width: 20rem;">
      <% if fav.post.thumbnail? %>
        <%= image_tag fav.post.thumbnail.url, class: "card-img-top my-5", width: '100%', height: 'auto' %>
      <% else %>
        <%= image_tag "kids-g837321511_640.png" ,class: "card-img-top", width: '100%', height: 'auto' %>
      <% end %>
      <div class="card-body">
        <% fav.post.tags.each do |tag| %>
          <%= link_to search_tag_path(tag_id: tag.id) do %>
            ЁЯП╖<%= tag.name %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <%= fav.post.title %>
        </h5>
        <p class="card-text">
          <%= strip_tags(fav.post.content.to_s).gsub(/[\n]/,"").strip.truncate(10) %>
        </p>
        <div class="btn btn-outline-info">
          <%= link_to post_path(fav.post) do %>
              шиШф║ЛуВТшкнуВА
          <% end %>
        </div>
        <div class="card-body pl-1 pb-0 pt-2">
          тЭдя╕П<%= fav.post.favorites.count %>
          ЁЯТм<%= fav.post.comments.count %>
          ЁЯФЦ<%= fav.post.bookmarks.count %>
          ЁЯСА<%= fav.post.impressions_count %>
        </div>
      </div>
    </div>
  <% end %>
</div>