<div class="container">
  <div class="row">
    <div class="col-lg-12 px-5 px-sm-0 mx-auto">
      <h2 class="font-weight-bold mt-3">いいねした記事</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 px-5 px-sm-0 mx-auto">
      <% if @favorites.count == 0 %>
        いいねした記事はありません😔
      <% end %>
      <% @favorites.each do |fav| %>
        <div class="card shadow-lg rounded" style="width: 20rem;">
          <% if fav.post.thumbnail? %>
            <%= image_tag fav.post.thumbnail.url, class: "card-img-top", width: '100%', height: 'auto' %>
          <% else %>
            <%= image_tag "kids-g837321511_640.png" ,class: "card-img-top", width: '100%', height: 'auto' %>
          <% end %>
          <div class="card-body pb-0">
            🏷<%= fav.post.tags.map(&:name).join(', ') %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to post_path(fav.post) do %>
                <%= fav.post.title %>
              <% end %>
            </h5>
            <p class="card-text">
              <%= fav.post.content.truncate(10) %>
            </p>
            <div class="btn btn-outline-info">
              <%= link_to post_path(fav.post) do %>
                  続きを読む
              <% end %>
            </div>
            <div class="card-body pl-1 pb-0 pt-2">
            💬<%= fav.post.comments.count %>
            ❤️<%= fav.post.favorites.count %>
            📚<%= fav.post.bookmarks.count %>
            👀<%= fav.post.impressions_count %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
