<% from_user = notification.from_user %>
<% to_user = notification.to_user %>

<%= time_ago_in_words(notification.created_at).upcase %>前

<p>
<%= link_to user_path(from_user) do %>   
  <%= from_user.name %>
<% end %>さんが
</p>

<% case notification.action
  when "follow"%>
    <p>あなたをフォローしました！</p>
  <% when "favorite" %>
    <p>
      <%= link_to post_path(notification.post) do %>
        あなたの投稿
      <% end %>にいいねしました！
    </p>
  <% when "comment" %>
    <p>
      <%= link_to post_path(notification.post) do %>
        あなたの投稿
      <% end %>にコメントしました！
    </p>
<% end %>
