<div class="container">
  <%= render "posts/error", post:@user %>
  <div class="row">
    <div class="col-lg-12 px-5 px-sm-0 mx-auto">
      <%= form_with model:@user do |f| %>
        <div class="my-3">
          <%= f.label :image, "プロフィール画像" %><br>
          <%= f.file_field :image, id: :file %>
        </div>
        <div>
          <% if @user.image.present? %>
            <%= image_tag @user.image.url, id: :prev, class: "border rounded" %>
          <% else %>
            <%= image_tag "kids-g837321511_640.png", id: :prev, class: "border rounded" %>
          <% end %>
        </div>
        <div class="my-3">
          <%= f.label :name, "名前" %><br>
          <%= f.text_field :name, placeholder: "名前を入力してください", class: "w-100" %>
        </div>
        <div class="my-3">
          <%= f.label :email, "メールアドレス" %><br>
          <%= f.text_field :email, placeholder: "メールアドレスを入力してください", class: "w-100" %>
        </div>
        <div class="my-3">
          <%= f.label :introduction, "紹介文" %><br>
          <%= f.rich_text_area :introduction, rows: "10", placeholder: "あなたの紹介文を入力してください", class: "w-100 h-100" %>
        </div>
        <div class="mt-5">
          <%= f.submit "プロフィールを修正する！", class: "w-100 btn btn-outline-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


