<h1>Users#show</h1>

<% if @user.image? %>
  profile:<%= image_tag @user.image.url %>
<% else %>
  profile:<%= image_tag "happy-faces-ga935fda3d_640.png" %>
<% end %>

<%= @user.name %>
<%= @user.introduction %>
<%= @user.email %>

<% @posts.each do |post| %>
  <p>title:<%= post.title %></p>
  <p>content:<%= post.content %></p>
<% end %>

<% if @user != current_user %>
  <% if current_user.following?(@user) %>
    <%= link_to "ãƒ•ã‚©ãƒ­ãƒ¼å¤–ã™", user_relationships_path(@user.id), method: :delete %>
  <% else %>
    <%= link_to "ãƒ•ã‚©ãƒ­ãƒ¼ã™ã‚‹", user_relationships_path(@user.id), method: :post %>
  <% end %>
<% end %>

<% if @user == current_user %>
  <%= link_to "ãƒ–ãƒƒã‚¯ãƒžãƒ¼ã‚¯ä¸€è¦§", user_bookmarks_path(@user) %>
  <%= link_to "ã„ã„ã­ä¸€è¦§", user_favorites_path(@user) %>
  <%= link_to "ãƒ•ã‚©ãƒ­ãƒ¼ç¢ºèª", user_follows_path(@user) %>
  <%= link_to "ðŸ‘•ç·¨é›†ã™ã‚‹", edit_user_path(@user) %>
  <%= link_to "ðŸ˜¢é€€ä¼šã™ã‚‹", user_registration_path, method: :delete, data: { confirm: 'æœ¬å½“ã«é€€ä¼šã—ã¾ã™ã‹ï¼Ÿã‚ãªãŸã®è¨˜äº‹ã¯å…¨ã¦æ¶ˆãˆã¦ã—ã¾ã„ã¾ã™ï¼' } %>
<% end %>