<div class="d-flex justify-content-between mt-5 mb-3">
  <div class="btn btn-outline-info">
    <%= link_to sort_time_path do %>
      🕰新着順
    <% end %>
  </div>
  <div class="btn btn-outline-info">
    <%= link_to rank_favorite_path do %>
      ❤️いいねが多い記事
    <% end %>
  </div>
  <div class="btn btn-outline-info">
    <%= link_to rank_comment_path do %>
      💬コメントが多い記事
    <% end %>
  </div>
  <div class="btn btn-outline-info">
    <%= link_to rank_bookmark_path do %>
      🔖ブックマークが多い記事
    <% end %>
  </div>
  <div class="btn btn-outline-info">
    <%= link_to rank_view_path do %>
      👀閲覧数が多い記事
    <% end %>
  </div>
</div>