<div class="container">
  <%= render "posts/search", { tags: @tags, word: @word } %>
  <%= link_to "いいね順", rank_favorite_path %>
  <%= link_to "コメント数順", rank_comment_path %>
  <%= link_to "ブックマーク数順", rank_bookmark_path %>
  <%= link_to "PV数順", rank_view_path %>
  <div class="row">
    <div class="col-lg-12 text-center">
      <% if @posts.count == 0 %>
        <div class="mt-5">
          <p>
            該当する記事はありませんでした😔
          </p>
        </div>
      <% else %>
        <%= render "posts/index", { posts: @posts } %>
      <% end %>
      <%= paginate(@posts) %>
    </div>
  </div>
</div>