<div class="container">
  <div class="row">
    <div class="col-lg-12 px-5 px-sm-0 mx-auto">
      <h2 class="font-weight-bold mt-3">記事詳細</h2>
    </div>
  </div>
  <div class="row">
    <div "col-lg-12 px-5 px-sm-0 mx-auto">
      <% @tags.each do |tag| %>
        🏷<%= tag.name %><%="(#{tag.posts.count})" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="my-3 d-flex justify-content-start align-items-end col-lg-12 px-5 px-sm-0 mx-auto">
      <h3 class="mr-3"><%= @post.title %></h3>
      <h5 class="mx-5 pt-2">投稿者 
          <%= link_to user_path(@post.user) do %>
            <%= @post.user.name %>
          <% end %>
          さん
      </h5>
      <h6 class="pt-2">投稿日:<%= @post.created_at.strftime("%Y/%m/%d") %></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 px-5 px-sm-0 mx-auto">
      <% if @post.video? %>
        <div class="d-flex justify-content-around">
          <div class="w-50 pr-2">
            <% if @post.thumbnail? %>
              <%= image_tag @post.thumbnail.url, class: "rounded", width: '100%', height: 'auto' %>
            <% else %>
                <%= image_tag "kids-g837321511_640.png" , class: "rounded", width: '100%', height: 'auto' %>
            <% end %>
          </div>
          <div class="w-50 pl-2">
            <%= video_tag(@post.video.to_s, :controls => true, class: "rounded", width: '100%', height: 'auto' ) %>
          </div>
        </div>
      <% else %>
        <div class="w-100">
          <% if @post.thumbnail? %>
            <%= image_tag @post.thumbnail.url, class: "rounded", width: '100%', height: 'auto' %>
          <% else %>
              <%= image_tag "kids-g837321511_640.png", class: "rounded", width: '100%', height: 'auto' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="mt-4 col-lg-12 px-5 px-sm-0 mx-auto">
      <p class="contents"><%= @post.content %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 px-5 px-sm-0 mx-auto">
      <!--↓ログインしなければいいね、コメント、ブックマークは使えない-->
      <% if user_signed_in? %>
        <div id="comment_area">
          <%= render 'comments/comment', post:@post %>
        </div>
        <div id="comment_form">
          <%= render 'comments/form', { post:@post, comment:@comment } %>
        </div>
        <div id="favorite">
          <%= render 'favorites/favorite', post:@post %>
        </div>
        <div id="bookmark">
          <%= render 'bookmarks/bookmark', post:@post %>
        </div>
      <% else %>
        <ul>
          <li>❤️️いいね</li>
          <li>💬コメント</li>
          <li>📚ブックマーク</li>
        </ul>
         は<%= link_to "ログイン", new_user_session_path %>しなければ使えません
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-around col-lg-12 px-5 px-sm-0 mx-auto">
      <div>
        <% if @post.user == current_user %>
          <%= link_to "🤔記事を編集する", edit_post_path(@post), class: "btn btn-outline-info" %>
        <% end %>
      </div>
      <div>
        <% if @post.user == current_user %>
          <%= link_to "🗑記事を削除する", posts_path, method: :delete, class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>