<div class="container">
  <div class="row">
    <div class="col-lg-12 px-5 px-sm-0 mx-auto">
      <h2 class="font-weight-bold mt-3">記事詳細</h2>
    </div>
  </div>
  <div class="row">
    <div "col-lg-12 px-5 px-sm-0 mx-auto">
      <% @tags.each do |tag| %>
        🏷<%= tag.name %><%="(#{tag.posts.count})" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 px-5 px-sm-0 mx-auto">
      <h3><%= @post.title %></h3>

      <% if @post.thumbnail? %>
          <%= image_tag @post.thumbnail.url %>
      <% else %>
          <%= image_tag "kids-g837321511_640.png" , width: '100%', height: 'auto' %>
      <% end %>
      
      <% if @post.video? %>
          video:<%= video_tag(@post.video.to_s, :controls => true, size: "200x200") %>
      <% end %>
      
      <p class="contents"><%= @post.content %></p>
      
      <p>投稿者:<%= @post.user.name %>さん</p>
      <p>投稿日:<%= @post.created_at.strftime("%Y/%m/%d") %></p>
      
      <!--↓ログインしなければいいね、コメント、ブックマークは使えない-->
      <% if user_signed_in? %>
        💬：<%= @post.comments.count %>
        <% @post.comments.each do |comment| %>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
      
          <% if comment.user == current_user %>
            <%= link_to "コメントを削除する", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-outline-danger" %>
          <% end %>
        <% end %>
      
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment %>
          <%= f.submit "📮コメント" , class: "btn btn-outline-info" %>
        <% end %>
      
        <% if @post.favorited_by?(current_user) %>
          <%= link_to post_favorites_path(@post), method: :delete do %>
            ❤️<%= @post.favorites.count %>
          <% end %>
        <% else %>
          <%= link_to post_favorites_path(@post), method: :create do %>
            🤍<%= @post.favorites.count %>
          <% end %>
        <% end %>
      
        <% if @post.bookmarked?(current_user) %>
          📚<%= link_to "ブックマークを外す", post_bookmarks_path(@post), method: :delete %>
        <% else %>
          📚<%= link_to "ブックマークに追加", post_bookmarks_path(@post), method: :post %>
        <% end %>
      
      <% else %>
        <ul>
          <li>❤️️いいね</li>
          <li>💬コメント</li>
          <li>📖ブックマーク</li>
        </ul>
         は<%= link_to "ログイン", new_user_session_path %>しなければ使えません
      <% end %>
      
      <% if @post.user == current_user %>
        <%= link_to "記事を編集する", edit_post_path(@post) %>
      <% end %>
      
      <% if @post.user == current_user %>
        <%= link_to "🗑記事を削除する", posts_path, method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>
</div>