<!DOCTYPE html>
<html>
  <head>
    <title>Teraco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');</style>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="cocoon">
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/up_button" %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
