<!DOCTYPE html>
<html>
  <head>
    <title>Teraco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <style>@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');</style>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cocoon">
      <%= render 'layouts/header' %>
      <%= yield %>
      <span id="up">
        <a href="">
          <%= image_tag "arrow-g98bebf60d_1280.png", data: {"turbolinks"=>false}, class: "up" %>
        </a>
      </span>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
